<h2 class="pt-5 text-light">Servicios</h2>
<div class="container p-5" #container>
    <div class="example-button-container left">
      <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)"
        [ngClass]="{'disabled':currentPage === 1}">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
  <div class="cards" [ngClass]="{'w-100': totalPages === 1}">
    <div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
      <div class="card" *ngFor="let i of servicios; let index = index" [ngStyle]="{'width': cardWidth}">
        <mat-card class="example-card">
          <img mat-card-image [src]="i.imgUrl"
            alt="Photo of a Shiba Inu"
            height="150">
          <mat-card-content>
            <h6>{{i.header| slice:0:15}} {{ i.header.length > 15 ? '...': ''}}</h6>
            <p>{{i.shortDescription | slice:0:60}} {{ i.shortDescription.length > 15 ? '...': ''}}</p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-raised-button color="basic">Ver</button> -->
            <!-- <button class="btn btn-sm btn-primary" (click)="openDialog(index)">Ver</button> -->
            <!-- <button mat-button color="primary" (click)="openDialog(index)">Ver</button> -->
            <button mat-raised-button color="primary" (click)="openDialog(index)">Ver</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- <div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
    [ngClass]="{'disabled':currentPage === totalPages}"></div> -->
    <div class="example-button-container right">
      <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
        [ngClass]="{'disabled':currentPage === totalPages}">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
</div>