.bg-primary{
  background-color: #e11668 !important;
}

.example-spacer {
  flex: 1 1 auto;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

.fixed-content{
  display: block;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.alert-sonreir{
  background-color: gray;
  color: white;
}