.bg-primary{
  background-color: #e11668 !important;
}

.btn-gradient{
  background-image: linear-gradient(to right top, #fe0185, #d644b2, #9e63ca, #6174cc, #2c7bba);
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

.fixed-content{
  display: block;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.alert-sonreir{
  background-color: gray;
  color: white;
}